<%- include("../partials/header.ejs") %>

<div class="d-flex flex-column align-items-center" style="margin-top: 25vh;">
  <h1 class="text-center mb-4">Enter new ToDo</h1>
  <form class="w-50 validated-form" novalidate action="/todos" method="POST">
    <div class="mb-3">
      <input type="text" name="title" class="form-control" id="title" placeholder="New Todo" required>
      <div class="invalid-feedback">
        Please provide a valid ToDo title.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<%- include("../partials/footer.ejs") %>